Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
SQLAlchemy==2.0.43
alembic==1.17.0
python-dotenv==1.1.1
Jinja2==3.1.6
Werkzeug==3.1.3
itsdangerous==2.2.0
MarkupSafe==3.0.2
click==8.3.0
greenlet==3.2.4
mako==1.3.10
flasgger
flask-jwt-extended
redis
celery
xhtml2pdf
requests
